body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../images/full-bloom.png);
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height:45px;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 25px;
    background-color: #ffffff; 
    border-style: ridge;
    border-color: #dddddd;
    border-width: 1px;
}

h1{
    font-size: 30px;
    text-align: center;
    width: 380px;
    background-color: #4aaaa5;
    position: relative;
    color: #ffff;
    margin: 0 auto;
    padding: 10px 0;
    margin-left: 10%;
    bottom: -22%;
}

h2{
    border-bottom: solid;
    border-color: #dddddd;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 70px;
    top: -35px;
    position: relative;
}

footer{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    background-color: #666666;

}

#about{
    background-color: #ffffff;
    border-style: ridge;
    border-color: #dddddd;
    border-width: 1px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 30px;
    padding: 20px;
    color: #777777; 

}

#profilepic{
    float: left;
    padding: 20px;
}

.nav{
    float: right;
    padding: 20px;
    position: relative;
    top: -125%;
    left: -10%;
}

#aboutlink, #portfoliolink, #contactlink{
    color: #777777; 
    background-color: transparent;
    text-decoration: none;
}

#copyright{
    color: #ffffff;
    margin-left: 50%;
    top: 50%;
    position: relative;
    font-size: 75%;
}